body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

/***********************************************
HEADER RULES
***********************************************/

.main-header {
    padding: 24px 20px;
}

.head-row {
    display: flex;
    justify-content: space-between;
}

.nav-row {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 10px;
    font-size: 18px;
}

.nav-item.logo {
    padding-left: 0px;
}

.nav-item.button {
    background-color: #0061FF;
    line-height: 36px;
    color: white;
}

/***********************************************
MAIN RULES
***********************************************/

/************ HERO ************/

.section-hero {
    background-color: #B4D0E7;
}

.container-hero {
    max-width: 1320px;
    margin: 0 auto;
    padding: 110px 42px 45px;
}

.hero-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.hero-col-title {
    flex-basis: 100%;
    font-size: 56px;
    padding-bottom: 64px;
}

.hero-col-text {
    flex-basis: calc(100% * (4 / 12));
    position: relative;
}

.hero-col-img {
    flex-basis: calc(100% * (8 / 12));
}

.hero-open {
    padding-bottom: 36px;
}

.hero-button {
    background-color: #0061FF;
    color: white;
    width: 238px;
    text-align: center;
    line-height: 44px;
}

.hero-undo {
    padding-top: 36px;
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 50px;
}

/************ HERO ************/

/***********************************************
DEBUG RULES
***********************************************/

/************ headdebug ************/

/* .debug .main-header {
    border: 2px solid black;
} */

/* .debug .nav-row {
    border: 2px solid red;
} */

/************ maindebug ************/

/* .main-content {
    border: 2px solid black;
    min-height: 1000px;
} */

/* .section-hero {
    border: 2px dotted red;
    min-height: 890px;
} */

/* .container-hero {
    border: 2px solid yellowgreen;
    min-height: 750px;
} */


/* .debug [class^=hero-] {
    border: 2px dotted black;
    min-height: 200px;
} */

/************ footdebug ************/

.main-footer {
    border: 2px solid black;
    min-height: 400px;
}

