body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

/***********************************************
HEADER RULES
***********************************************/

.main-header {
    padding: 24px 20px;
}

.head-row {
    display: flex;
    justify-content: space-between;
}

.nav-row {
    display: flex;
    align-items: center;
}

.nav-item {
    font-size: 18px;
    line-height: 36px;
}

.nav-item > a {
    padding: 0 10px;
}

.nav-item.logo {
    padding-right: 10px;
    padding-left: 0px;
    line-height: unset;
}

.nav-item.button {
    background-color: #0061FF;
    color: white;
}

/***********************************************
MAIN RULES
***********************************************/

/************ HERO ************/

.section-hero {
    background-color: #B4D0E7;
}

.container-hero {
    max-width: 1320px;
    margin: 0 auto;
    padding: 110px 42px 52px;
}

.hero-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.hero-col-title {
    flex-basis: 100%;
    font-size: 56px;
    padding-bottom: 64px;
}

.hero-col-text {
    flex-basis: calc(100% * (4 / 12));
    position: relative;
}

.hero-col-img {
    flex-basis: calc(100% * (8 / 12));
}

.hero-open {
    padding-bottom: 36px;
}

.button {
    background-color: #0061FF;
    color: white;
    text-align: center;
    line-height: 44px;
    padding: 0 10px;
}

.button.trial {
    width: max-content;
}

.hero-undo {
    padding-top: 36px;
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 70px;
    font-size: 50px;
}

/************ HERO ************/

/************ PLANS ************/

.section-plans {
    background-color: white;
    margin-top: -124px;
}

.plans-container {
    max-width: 1042px;
    margin: 0 auto;
    padding: 124px 20px 0;
}

.plans-open {
    display: flex;
}

.plans-open-col {
    flex-basis: calc(100% (1 / 3));
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 56px;
}

.subscription-buttons {
    display: flex;
}

.subscription-buttons > div {
    padding-right: 20px;
}

/************ CARDS ************/

.plans-card-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    justify-content: space-between;
}

.card-col {
    flex-basis: 30%;
}

.card-col-orizontal {
    flex-basis: 100%;
    margin-top: 50px;
}

.debug [class^=card-] {
    border: 2px solid #DCDCDE;
}

/************ CARDS CONTENT ************/

.member {
    text-align: center;
    border-bottom: 2px solid #DCDCDE;
    padding: 8px;
}

.offers {
    padding: 38px 30px;
}

.single-offer {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.offer-title {
    font-size: 22px;
}

.offer-period {
    color: rgba(0, 0, 0, 0.5);
}

.offer-list {
    padding-bottom: 54px;
}

.offer-list-row {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

.offer-list-row > li {
    padding-top: 24px;
}

.offer-list-3 {
    padding-bottom: 32px;
}

.offer-item-row {
    display: flex;
    align-items: flex-start;
}

.offer-item-row > i {
    padding-right: 6px;
    padding-top: 3px;
}

.buy {
    padding-top: 34px;
}

.buy > p {
    display: inline-block;
    padding-right: 6px;
    padding-bottom: 42px;
    border-bottom: 2px solid #DCDCDE;
}

.buynow {
    color: blue;
    text-decoration: underline;
}

.plan-steps {
    padding-top: 54px;
}

.plan-points {
    font-size: 18px;
    padding-bottom: 34px;
}

.plan-steps-row > li {
    padding-bottom: 24px;
}

.plan-item-row {
    display: flex;
    align-items: flex-start;
}

.plan-item > i {
    color: #4273FF;
    padding-right: 6px;
    padding-top: 6px;
}

.work-offer {
    padding: 34px 30px;
}

.work-offer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
}

.work-offer-col {
    padding: 0 10px;
}

.sell-office-button {
    background-color: #0061FF;
    color: white;
    line-height: 44px;
}

.work-offer-title {
    padding-left: 0px;
}

.reminder {
    font-size: 16px;
    font-weight: bold;
}

.work-offer-text-row {
    display: flex;
    padding-top: 52px;
}

.work-offer-text-col {
    flex-basis: calc(100% * (9 / 12));
}

/************ /PLANS ************/

/************ INTRO ************/

.intro-container {
    max-width: 1042px;
    margin: 0 auto;
    padding: 124px 20px 0;
}

.intro-row {
    display: flex;
}

.intro-col-img {
    flex-basis: calc(100% * (7 / 12));
}

.intro-col-text {
    flex-basis: calc(100% * (5 / 12));
    padding: 58px 30px;
}

.intro-service {
    display: flex;
    flex-wrap: wrap;
}

[class="intro__"] {
    flex-basis: 100%;
}

.intro__title {
    padding-bottom: 16px;
    font-size: 22px;
}

.intro__text {
    padding-bottom: 32px;
}

.intro__button {
    border: 1px solid black;
    padding: 12px 12px;
}

/************ /INTRO ************/

/************ /UTILITIES ************/

.utilities-container {
    max-width: 1042px;
    margin: 0 auto;
    padding: 124px 20px 0;
}

.utilities-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.utilities-col-title {
    flex-basis: 100%;
    padding-bottom: 84px;
    font-size: 28px;
}

.utilities-col-card {
    flex-basis: 30%;
    padding-bottom: 82px;
}

.utilities-title {
    padding-bottom: 16px;
    font-size: 22px;
}

/************ /UTILITIES ************/

/************ OUTRO ************/

.outro-container {
    max-width: 1042px;
    margin: 0 auto;
    padding: 124px 20px 152px;
}

.outro-row {
    display: flex;
    flex-wrap: wrap;
}

.outro-col-title {
    flex-basis: 70%;
    font-size: 28px;
    padding-bottom: 76px;
}

.outro-col-link {
    flex-basis: 50%;
    color: blue;
    text-decoration: underline;
}

/************ /OUTRO ************/



/***********************************************
DEBUG RULES
***********************************************/

/************ headdebug ************/

/* .debug .main-header {
    border: 2px solid black;
} */

/* .debug .nav-row {
    border: 2px solid red;
} */

/************ maindebug ************/

/* .main-content {
    border: 2px solid black;
    min-height: 1000px;
} */


/* .container-hero {
    border: 2px solid yellowgreen;
    min-height: 750px;
} */

/* .section-plans {
    border: 2px dotted red;
    min-height: 1650px;
} */

/* .debug [class^=hero-] {
    border: 2px dotted black;
    min-height: 200px;
} */

/* .debug .plans-container {
    border: 2px solid blue;
    min-height: 1620px;
} */

/* .debug [class^=card-] {
    min-height: 100px;
} */

/* .debug .section-intro {
    background-color: white;
    border: 2px solid red;
    min-height: 1600px;
} */

/* .debug .intro-container {
    border: 2px solid yellowgreen;
    min-height: 1000px;
} */

/* .debug .intro-row {
    border: 2px solid green;
} */

/* .debug [class^="intro-col"]{
    border: 2px solid blue;
    min-height: 200px;
} */

/* .debug .utilities-container {
    border: 2px solid yellowgreen;
    min-height: 1000px;
} */

/* .debug .utilities-row {
    border: 2px solid green;
} */

/* .debug .utilities-col {
    border: 2px dotted blue;
    min-height: 300px;
} */

/* .debug [class^=utilities-col] {
    border: 2px dotted purple;
} */

/* .debug .outro-container {
    border: 2px solid yellowgreen;
} */

/* .debug .outro-row {
    border: 2px solid black;
} */

/* .debug [class^="outro-col-"] {
    border: 2px solid red;
    min-height: 200px;
} */
/************ footdebug ************/

.main-footer {
    border: 2px solid black;
    min-height: 400px;
}

